:root {
    --left-margin: 85px;
}
body {
    background-color: #fdfdfd00;
    font-family: Arial, sans-serif;
    width: 650px;
    height: 476.667px;
    margin: 50px auto;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Valkyrie_C4', sans-serif;
    text-align: center;
    color: #4a3704fa;
    font-size: 26px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    color: #4183C4;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #4a3704fa; /* change this to your desired color */
}

a:hover {
    text-decoration: underline;
    color: #4a3704fa; /* change this to your desired color */
}

h2 {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    margin-bottom: 20px;
}

li a {
    color: #25058d;
    text-decoration: none;
    margin-left: var(--left-margin);
    /*margin-left: 70px; /* add spacing between date and link text */
}