:root {
    --left-margin: 160px;
}
body {
    background-color: #a3c1ad;
    font-family: monospace;
    width: 650px;
    height: 476.667px;
    margin: 50px auto;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Valkyrie Bold';
    text-align: center;
    color: #4a3704fa;
    font-size: 26px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    color: #4183C4;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #4a3704fa; /* change this to your desired color */
}

p {
    margin-top: 70px; 
    text-align: left;
    margin-left: var(--left-margin);
}
