body {
    background-color: #a3c1ad;
    font-family: Arial, sans-serif;
    width: 650px;
    height: 476.667px;
    margin: 50px auto;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Valkyrie Bold';
    text-align: center;
    color: #000000;
    font-size: 26px;
}
